.Ball {
  background-image: radial-gradient(at 70% 30%, #ffffff 5%, #F13FFF 55%);
  border-radius: 50%;
  color: white;
  text-shadow: 2px 2px #3A0370;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
}