.YesorNo {
  margin: 2em 0 3em 0;
}

.YesorNo h3 {
  text-align: center;
  margin-top: 2em;
}

.YesorNo-SVGs {
  display: flex;
  justify-content: center;
}

/* animation that happens to the image */
.answer {
  /* fill: #F13FFF; */
  fill: #fff;
  stroke: #1a1a1a;
  stroke-width: 3px;
  transition-duration: 1s;  
}

.white {
  fill: #fff;
  stroke: #1a1a1a;
  stroke-width: 3px;
}

.black {
  fill: #1a1a1a;
  stroke: #1a1a1a;
  stroke-width: 3px;
}